body {
    background-color: darkgray;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    /*margin-left: 10%;*/
    background-color: white;
}

.game {
    width: 80%;
    margin: 0 auto;
    text-align:center;
}
header {
    margin: 0 auto;
    text-align:center;
    width:80%;
    height:auto;
}
table {
    margin:0 auto;
}
td{
    width:20%;
    line-height:1.5em;
    border:1px solid black;
}
.heading {
    font-weight:700;
}
.paragraph {
    width:80%;
}